body, svg {
    font-family: 'Merriweather', serif;

}


.noselect {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background: #f4f4f4;
    font-family: sans-serif;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* or space-between / space-around */
    gap: 5px;
}

.grid-item {
    flex: 1 1 600px; /* Grow/Shrink/Basis */
    max-width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartTooltip {
    visibility: hidden;
    position: absolute;
    text-align: left;
    border: 0.5px solid lightgrey;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
    width: auto;
    height: auto;
}
